body {
    background-color: rgb(228, 204, 0);
}

img {
    width: 200px;
    height: 200px;
    margin-left: 500px;
    margin-top: 20px;
}

h1 {
    font-family: 'Righteous', cursive;
    margin-left: 490px;
}

input {
    length: 200px;
    height: 50px;
}

#button {
    text-align: center;
}

